
body{
	font-family: 'Montserrat', sans-serif;
}

header {
	position: relative;
	background: #ffffff;
	padding: 30px 0;
	width: 930px;
	margin: 0 auto;
	text-align: center;
}

nav {
	text-align: center;
	background: #D3E1A4;
	padding: 5px;
	width: 100%;
}

nav li {
	display: inline;
	margin: 0 20px;
}

a {
	color: #CE4520;
	text-decoration: none;
	font-weight: bold
}

nav a {
	color: #000;
	font-size: 17px;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	font-weight: bold;
	color: #85A421;
}

main {
	width: 930px;
	margin: 0 auto;
	text-align: center;
}

h1{
	font-size: 25px;
	font-weight: bold;
	color: #CE4520;
 
    }

div{font-family: DejaVu Sans Mono, monospace;

	
}
.principal{	padding: 10px;
	height:190px;
	border:solid;
	border-color: #DCDCDC;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 10px;

}
.img{text-align: center;
}

.texto{
	font-style: 15px;
	float: left;
	width: 200px;
	height: 220px
	padding:15px;
	margin-left: 9px;
}

#imagem{
	float: left;
	border-radius: 5px;
}
.preco{
	border:solid;
	border-color: #DCDCDC;
	border-radius: 5px;
	padding: 25px;
	float: right;
}
h2{
	font-size: 30px;
	float:left;
	 font-weight:bolder;
	 padding:10px;
}
h3{font-size: 25px;

	
}
fieldset{ border: solid ;
	display:inline-block;
}
 legend{ font-family:bradley Hand, cursive;
	font-style: 15px;
	
  }

  .form-pag{color :green;
  	font-family:bradley Hand, cursive;
	font-style: 15px;
  }
  select{font-family:bradley Hand, cursive;
	font-style: 15px;
	color :green;
  	border-radius:10px;
  }

form{border: solid;
	border-radius:10px;
	border-color: red;
	font-family:bradley Hand, cursive;
	font-style: 15px;
	color :green;
	margin:auto:center;
	margin-right: 200px;
	margin-left:150px;
}

button{
	border-radius: 20px  20px;
	font-family: bradley Hand, cursive;
	}

footer{font-size: 11px;
	color: #ffffff;
	background: #000000;
	padding: 60px 0;
	text-align: center;
}